<section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
    <div class="container aside-xl">
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong>New Field</strong>
            </header>
                <%= render 'form' %>
                <%= link_to 'Back', fields_path %>
        </section>
    </div>
</section>

